body {
    background-color: #121214;
    color: white;
}

* { 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.main {
    text-align: center;
    font-size: 20px;
}

.show_word {
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #121214;
}

.window {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
}

.another {
    text-align: center;
    /* background-color: red; */
    margin-bottom: 1rem;
}

.another {
    font-size: 18px;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    width: 120px;
    color: rgb(156, 151, 151);
    border:1px solid grey;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    border-radius: 10px;
    vertical-align:middle;
}

.another:active {
    background-color: rgba(255, 0, 221, 0.832);
    box-shadow: 0 0 5px -1px rgba(255, 0, 221, 0.832);
    border:1px solid black;
}

.another:hover {
    color: white;
    border:1px solid white;
}

.game {
    text-align: center;
    flex-direction: column;
    max-width: 350px;
    display: flex;
    flex-grow: 1;
}

.line, .lineDone, .lineWin {
    height: 4.5rem;
    display: flex;
    flex-grow: 1;
}


.box ,.boxDone {
    background-color: #121214;
    height: 0.5rem;
    width: 100%;
    height: 64px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    border: 2px solid grey;
    text-transform: uppercase;
}

.box:hover {
    border: 2px solid white;
}

.boxBlack {
    background-color: #3a3a3c;
    height: 0.5rem;
    width: 100%;
    height: 64px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    border: 2px solid #3a3a3c;
    text-transform: uppercase;
}

.boxYellow {
    background-color: #b49f3a;
    height: 0.5rem;
    width: 100%;
    height: 64px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    border: 2px solid #b49f3a;
    text-transform: uppercase;
}

.boxGreen {
    background-color: #538d4e;
    height: 0.5rem;
    width: 100%;
    height: 64px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    border: 2px solid #538d4e;
    text-transform: uppercase;
}

.keyboard {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.keyboard_line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.key {
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: white;
    background-color: #808384;
    border:1px solid #808384;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 6px 0 0;
    font-family: inherit;
    font-weight: 700;
}

.key:hover {
    border:1px solid #ffffff;
}

.key_black, .key_yellow, .key_green {
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 6px 0 0;
    font-family: inherit;
    font-weight: 700;
}

.key_black {
    background-color: #3a3a3c;
    border:1px solid #3a3a3c;
}

.key_yellow {
    background-color: #b49f3a;
    border:1px solid #b49f3a;
}

.key_green {
    background-color: #538d4e;
    border:1px solid #538d4e;
}