body {
    background-color: #121214;
    color: white;
}

.main {
    text-align: center;
    padding-bottom: 5rem;
    font-size: 32px;
}

.window {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
}

.game {
    text-align: center;
    flex-direction: column;
    max-width: 350px;
    display: flex;
    flex-grow: 1;
}

.line {
    height: 4.5rem;
    display: flex;
    flex-grow: 1;
}

.box ,.boxDone {
    background-color: #121214;
    height: 0.5rem;
    width: 100%;
    height: 64px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    border: 2px solid grey;
    text-transform: uppercase;
}