{% extends 'base.html' %}
{% block content %}
<div class="main">
    <h1>GUESS THE WORD</h1>
</div>
<div class="window">
    <div class="game">
        <div class="line" id="line1">
            <div class="box" id="box1">
                <input id="a" type="text" maxlength="1" size="1" autofocus>
            </div>
            <div class="box" id="box2">
                <input id="b" type="text" maxlength="1" size="1">
            </div>
            <div class="box" id="box3">
                <input id="c" type="text" maxlength="1" size="1">
            </div>
            <div class="box" id="box4">
                <input id="d" type="text" maxlength="1" size="1">
            </div>
            <div class="box" id="box5">
                <input id="e" type="text" maxlength="1" size="1">
            </div>
        </div>
        <div class="line" id="line2">
            <div class="box" id="box1"></div>
            <div class="box" id="box2"></div>
            <div class="box" id="box3"></div>
            <div class="box" id="box4"></div>
            <div class="box" id="box5"></div>
        </div>
        <div class="line" id="line3">
            <div class="box" id="box1"></div>
            <div class="box" id="box2"></div>
            <div class="box" id="box3"></div>
            <div class="box" id="box4"></div>
            <div class="box" id="box5"></div>
        </div>
        <div class="line" id="line4">
            <div class="box" id="box1"></div>
            <div class="box" id="box2"></div>
            <div class="box" id="box3"></div>
            <div class="box" id="box4"></div>
            <div class="box" id="box5"></div>
        </div>    
        <div class="line" id="line5">
            <div class="box" id="box1"></div>
            <div class="box" id="box2"></div>
            <div class="box" id="box3"></div>
            <div class="box" id="box4"></div>
            <div class="box" id="box5"></div>
        </div>
        <div class="line" id="line6">
            <div class="box" id="box1"></div>
            <div class="box" id="box2"></div>
            <div class="box" id="box3"></div>
            <div class="box" id="box4"></div>
            <div class="box" id="box5"></div>
        </div>
    </div>
</div>
{% endblock %}